html, body { 
  margin: 0; 
  padding: 0; 
}
h1 {
  font-size: 5vw;
  border: 1vw solid #AEDEE7;
  margin: 5vw;
  padding: 2.5vw;
  text-align: center;
  color: #AEDEE7;
}
body {
  background-color: red;
  /*background: -webkit-linear-gradient(290deg, #4D9DAC, #308494); /* For Safari 5.1 to 6.0 */
  /*background: -o-linear-gradient(290deg, #4D9DAC, #308494); /* For Opera 11.1 to 12.0 */
  /*background: -moz-linear-gradient(290deg, #4D9DAC, #308494); /* For Firefox 3.6 to 15 */
  /*background: linear-gradient(to 290deg, #4D9DAC, #308494); /* Standard syntax (must be last) */
}
p {
  font-size: 2.5vw;
  text-align: center;
  color: #AEDEE7;
}
#grad1 {
  height: 200px;
  background: -webkit-linear-gradient(left, #B10041 , #6C0028); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #B10041, #6C0028); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #B10041, #6C0028); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #B10041 , #6C0028); /* Standard syntax (must be last) */
}
#blank1 {
  position: absolute;
  top: 25vw;
  height: 25vw;
  width: 100vw;
  background-color: #D2EFF5;
  -webkit-animation-delay: .5s;
  -webkit-animation: myfirst 2s; /* Chrome, Safari, Opera */
  animation-delay: .5s;
  animation: myfirst 2s;
}
#top {
  position: absolute;
  top: 0px;
  height: 25vw;
  width: 100vw;
  background: -webkit-linear-gradient(290deg, #4D9DAC, #308494); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(290deg, #4D9DAC, #308494); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(290deg, #4D9DAC, #308494); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to 290deg, #4D9DAC, #308494); /* Standard syntax (must be last) */
  -webkit-animation: my2nd 2s; /* Chrome, Safari, Opera */
  animation: my2nd 2s;
}


@-webkit-keyframes myfirst {
  0%   {top:0px;}
  .001% {top:100%;}
  100% {top:23%;}
}

/* Standard syntax */
@keyframes myfirst {
  0%   {top:0px;}
  .001% {top:100%;}
  100% {top:23%;}
}



@-webkit-keyframes my2nd {
  0%   {top:0px;}
  .001% {top:100%;}
  100% {top:0px;}
}

/* Standard syntax */
@keyframes my2nd {
  0%   {top:0px;}
  .001% {top:100%;}
  100% {top:0px;}
}
