html, body { 
  margin: 0; 
  padding: 0; 
}
h1 {
  font-size: 40px;
  border: 2px solid #F9FEFF;
  margin: 10px;
  padding: 10px;
  text-align: center;
  color: #F9FEFF;
}
body {
  background-color: #F9FEFF;
}
p {
  font-size: 20px;
  text-align: center;
  color: #F9FEFF;
}
#grad1 {
  position: absolute;
  top: 2400px;
  width: 100%;
  height: 25%;
  background: -webkit-linear-gradient(left, #B10041 , #6C0028); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #B10041, #6C0028); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #B10041, #6C0028); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #B10041 , #6C0028); /* Standard syntax (must be last) */
  
}
#blank1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 8;
  top: 720px;
  height: 400px;
  width: 1280px;
  background-color: #4D9DAC;
  border-radius: .5vw;
  display: inline-block;
  
  -webkit-animation: myfirst 2.5s; /* Chrome, Safari, Opera */
  animation: myfirst 2.5s;
}
#blank1Bevel {
  position: absolute;
  top: 730px;
  left: 50%;
  transform: translateX(-630px);
  z-index: 7;
  height: 400px;
  width: 1280px;
  border-radius: .5vw;
  background-color: #78BFCC;
  display: inline-block;

  -webkit-animation: myfirstBevel 2.7s; /* Chrome, Safari, Opera */
  animation: myfirstBevel 2.7s;

  opacity: .75;
}
#top {
  position: absolute;
  top: 240px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  height: 400px;
  width: 1280px;
  border-radius: .5vw;
  display: inline-block;
  
  background-color: #4D9DAC;
  
  -webkit-animation: my2nd 2s; /* Chrome, Safari, Opera */
  animation: my2nd 2s;
}
#topBevel {
  position: absolute;
  top: 250px;
  left: 50%;
  transform: translateX(-630px);
  z-index: 9;
  height: 400px;
  width: 1280px;
  border-radius: .5vw;
  background-color: #78BFCC;
  display: inline-block;

  -webkit-animation: my2ndBevel 2.2s; /* Chrome, Safari, Opera */
  animation: my2ndBevel 2.2s;

  opacity: .75;
}

#backgroundTop {
  position:absolute
  width: 100vw;
  height: 20vw;
  /*http://i.imgur.com/uiTropu.jpg */
  background: url("http://i.imgur.com/jvlviIg.jpg") no-repeat center;
  background-size: 100vw 25vw;
}

#navbar {
	z-index: 20;
	background-color: #78BFCC;
	height: 160px;
	width: 140px;
	border-radius: 10px;
	position: absolute;
	top: 280px;
	left: 50%;
	transform: translateX(-745px);
}

#navbarBevel {
	z-index: 11;
	background-color: #AEDEE7;
	height: 160px;
	width: 140px;
	border-radius: 10px;
	position: absolute;
	top: 290px;
	left: 50%;
	transform: translateX(-755px);
	opacity: .75;
}

._icon {
	width: 50px;
	height: 50px;
}

._homelink {
  font-family: Raleway, sans-serif;
  font-size: 24px;
  color: #F9FEFF;
  background-color: #78BFCC;
  margin: 5px;
  cursor: pointer;
}

._homelink:hover {
  color: #DCF4F8;
  background-color: #4D9DAC;
}

.btn {
  -webkit-border-radius: 1;
  -moz-border-radius: 1;
  border-radius: 10px;
  color: #F9FEFF;
  font-size: 30px;
  background: #4D9DAC;
  padding: 2px 5px 2px 5px;
}
.btn:hover {
  background: #126D7E;
}
a {
  text-decoration: none;
}
.a {
  display: inline-block;
}
.wrapper {
  text-align: center;
}



@-webkit-keyframes myfirst {
  0%   {top:0vw; opacity:0;}
  .001% {top:140vw; opacity:0;}
  100% {top:45vw; opacity:1;}
}

/* Standard syntax */
@keyframes myfirst {
  0%   {top:0vw; opacity:0;}
  .001% {top:140vw; opacity:0;}
  100% {top:45vw; opacity:1;}
}



@-webkit-keyframes myfirstBevel {
  0%   {top:0vw; opacity:0;}
  .001% {top:140vw; opacity:0;}
  100% {top:45.5vw; opacity:.75;}
}

/* Standard syntax */
@keyframes myfirstBevel {
  0%   {top:0vw; opacity:0;}
  .001% {top:140vw; opacity:0;}
  100% {top:45.5vw; opacity:0;}
}



@-webkit-keyframes my2nd {
  0%   {top:0vw; opacity:0;}
  .001% {top:100vw; opacity:0;}
  100% {top:15vw; opacity:1;}
}

/* Standard syntax */
@keyframes my2nd {
  0%   {top:0vw; opacity:0;}
  .001% {top:100vw; opacity:0;}
  100% {top:15vw; opacity:1;}
}

@-webkit-keyframes my2ndBevel {
  0%   {top:0vw; opacity:0;}
  .001% {top:100vw; opacity:0;}
  100% {top:15.5vw; opacity:.75;}
}

/* Standard syntax */
@keyframes my2ndBevel {
  0%   {top:0vw; opacity:0;}
  .001% {top:100vw; opacity:0;}
  100% {top:15.5vw; opacity:.75;}
}
