html, body { 
  margin: 0; 
  padding: 0; 
}
h1 {
  font-size: 5vw;
  border: 1vw solid #AEDEE7;
  margin: 5vw;
  padding: 2.5vw;
  text-align: center;
  color: #AEDEE7;
}
body {
  background-color: green;
  /*background: -webkit-linear-gradient(290deg, #4D9DAC, #308494); /* For Safari 5.1 to 6.0 */
  /*background: -o-linear-gradient(290deg, #4D9DAC, #308494); /* For Opera 11.1 to 12.0 */
  /*background: -moz-linear-gradient(290deg, #4D9DAC, #308494); /* For Firefox 3.6 to 15 */
  /*background: linear-gradient(to 290deg, #4D9DAC, #308494); /* Standard syntax (must be last) */
}
p {
  font-size: 2.5vw;
  text-align: center;
  color: #AEDEE7;
}
#grad1 {
  height: 200px;
  background: -webkit-linear-gradient(left, #B10041 , #6C0028); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #B10041, #6C0028); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #B10041, #6C0028); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #B10041 , #6C0028); /* Standard syntax (must be last) */
}
#blank1 {
  position: absolute;
  top: 25vw;
  height: 25vw;
  width: 100vw;
  background-color: #D2EFF5;
}
#top {
  position: absolute;
  top: 0px;
  height: 25vw;
  width: 100vw;
  background: -webkit-linear-gradient(290deg, #4D9DAC, #308494); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(290deg, #4D9DAC, #308494); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(290deg, #4D9DAC, #308494); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to 290deg, #4D9DAC, #308494); /* Standard syntax (must be last) */
}
